html {
  font-size: 62.5%;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  font-size: 2.4rem;
  background: #fff;
  color: #555;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

header.main {
  padding-top: 30px;
}

header.app-title {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 99;
}

header.app-title {
  background: url('../img/hood-portland1-fade.jpg') 50% 50% no-repeat;
  background-size: cover;
}

header.app-title#about-page {
  background: url('../img/about.jpg') 50% 50% no-repeat;
  background-size: cover;
}

header.app-title .app-heading {
  padding-top: 70px;
  text-align: center;
}

header.app-title .app-heading .app-intro {
  font-size: 3.8rem;
  font-family: 'Gentium Book Basic';
  color: #fff;
  line-height: 1.5;
  font-style: italic;
  margin: 0;
}

header.app-title .app-heading .app-name {
  font-size: 6.8rem;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 4px 0px #3d4d6f;
  margin: 0;
}

header.app-title .app-heading .app-name:after {
content: '—';
display: block;
font-size: 6rem;
line-height: 0.7;
padding: 0;
margin: 0;
}

header.app-title .app-heading .app-tagline{
  text-align: center;
  margin: 0 auto;
  font-size: 3.9rem;
  font-family: 'Gentium Book Basic', serif;
  font-style: italic;
  color: #fff;
  padding: 0 20px;
  text-shadow: 1px 2px 4px #3d4d6f;
  line-height: 1.1;
  max-width: 720px;
}

header.app-title .attribution a {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: 1px 1px #000;
  color: #fff;
}

header.app-title .attribution a:hover {
  color: #eee;
  text-decoration: none;
}

.navbar {
  position: absolute;
  z-index: 100;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar a {
  color: #4f638d;
}

.nav>li>a:hover, .nav>li>a:focus {
  background: rgba(255,255,255,0.6);
}

.container-960 {
  max-width: 960px;
}

.container-720 {
  max-width: 720px;
}

.button-container {
  max-width: 640px;
  margin: 0 auto;
}

.question-body {
  padding: 30px 0 60px 0;
}

.progression-image {
  max-width: 900px;
  height: 268px;
  margin: 0 auto;
}

.intro-block {
  text-align: center;
}

.intro-block h1 {
  color: #555;
  text-transform: uppercase;
  font-size: 4.4rem;
  font-weight: 700;
  margin: 20px 0;
}

.not-aligned {
  text-align: left;
}

.intro-block h1 .title-secondary-word {
  font-family: 'Gentium Book Basic', serif;
  font-size: 3.2rem;
  text-transform: lowercase;
  display: inline-block;
  border-bottom: 5px solid #eee;
  line-height: 0.5;
  padding-bottom: 5px;
  vertical-align: 8px;
}

.intro-block p.question {
  padding: 20px 0;
}

#weather-display {
  position: relative;
}

#spinner-container {
  height: 100px;
}

.btn {
  white-space: normal;
}

.btn.btn-primary {
  display: block;
  width:100%;
  font-size: 2.2rem;
  margin: 15px 0;
  background: #476483;
  border: 4px solid #71aed1;
  border-radius: 0px;
  color: #fff;
  padding: 10px;
}

.btn.btn-primary:hover {
  background: #71aed1;
  transition: all 0.5s;
}

.result-details {
  border-left: 10px solid #eee;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}

.result-details h1 {
  font-size:2.8rem;
  padding: 20px 0 10px 0;
}

.result-details .image-container {
  height: 30%;
}

.result-details .business-info {
  background-size: cover; 
}

.result-details .rating-stars {
  padding-top: 10px;
}

.result-in-story {
  font-family: "Open Sans", sans-serif;
  color: #71aed1;
  padding: 0 3px;
  border-radius: 3px;
  background: #E4F5FF;
  font-weight: 700;
}

a .result-in-story:hover {
  background: #8ed5ff;
}

.yelp-credit {
  width: 175px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.yelp-credit p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

footer.main {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
}

footer.main p {
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.3rem;
}

@media (max-width: 720px) {
  html {
    font-size: 80%;
  }
  header.app-title {
    width: 100%;
    background: url('../img/hood-portland1-fade.jpg') 50% 50% no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 99;
  }

  header.app-title .app-heading {
    padding-top: 50px;
    text-align: center;
  }

  header.app-title .app-heading .app-intro {
    font-size: 1.8rem;
    font-family: 'Gentium Book Basic';
    color: #fff;
    line-height: 1.3;
    font-style: italic;
    margin: 0;
  }

  header.app-title .app-heading .app-name {
    font-size: 3.8rem;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 4px 0px #3d4d6f;
    margin: 0;
  }

  header.app-title .app-heading .app-name:after {
  content: '—';
  display: block;
  font-size: 3.8rem;
  line-height: 0.7;
  padding: 0;
  margin: 0;
  }

  header.app-title .app-heading .app-tagline{
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    color: #fff;
    padding: 0 20px;
    text-shadow: 1px 2px 4px #3d4d6f;
    line-height: 1.1;
    max-width: 720px;
  }
  .navbar-nav>li>a {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  header.app-title .app-heading {
    padding-top: 100px;
    text-align: center;
  }
}

@media (min-width: 1px) {
  .navbar-nav>li {
    float: left;
  }
}