<div class="page-header main-header" id="adventure-parent">
  <div class="intro-block">
    <h1>Welcome to Choose Your Own Adventure PDX</h1>
    <p>Introductory text!</p>
{{!--     <p>
      <div class="btn btn-primary btn-lg" id="begin-adventure" role="button">Start Your Adventure</div>
    </p> --}}
  </div>
</div>