
{{#each adventure}}
  <section style ="float: left; max-width: 18em;">
  <table>
    <tbody>
    <tr>
    <td>
    <h4>{{name}}</h4>
    <a href={{yelpInfoLink}}><img style = " max-height: 216px; overflow: hidden; "src="{{img}}"></a>
    </td>
    </tr>
    </tbody>
    </table>
  </section>
{{/each}}