<section class="question-body">
  <div class="container container-960">
    <div class="intro-block">
      <h1>Where Do You Want <span class="title-secondary-word">to</span> Go?</h1>
      <p class="question">Pick a neighborhood to go explore.</p>
    </div>
    <div class="button-container">
      <div class="btn btn-primary location-choice" id="location-se" role="button">Southeast</div>
      <div class="btn btn-primary location-choice" id="location-ne" role="button">Northeast</div>
      <div class="btn btn-primary location-choice" id="location-north" role="button">Northwest and North</div>
      <div class="btn btn-primary location-choice" id="location-southwest" role="button">Southwest</div>
      <div class="btn btn-primary location-choice" id="location-all" role="button">Everywhere! Portland and the Surrounding Area</div>
    </div>
  </div>
</section>