<div class="intro-block">
  <h1>Where do you want to go?</h1>
</div>
<p>
  More description here. (Hint: only Southeast works for now.)
</p>
<div class="btn btn-primary" id="location-se" role="button">Southeast</div>
<div class="btn btn-primary" id="location-ne" role="button">Northeast</div>
<div class="btn btn-primary" id="location-west" role="button">West Side</div>
<div class="btn btn-primary" id="location-all" role="button">Everywhere!</div>