<h2>Questions</h2>
<p>
  {{questionIndex}}
</p>
<div class="btn btn-primary" id="step1-choice-a" role="button">Outside</div>
<div class="btn btn-primary" id="step1-choice-b" role="button">Inside</div>