<section class="question-body">
  <div class="progression-image" style="background: url('./img/5.jpg') 0% 50% no-repeat; background-size:contain;">
  </div>
  <div class="container container-960">
    <div class="intro-block">
      <h1>Your Adventure:</h1>
    </div>
    {{#each displayResults.attributes.results}}
  <h1>{{name}}</h1>
  <img src={{img}} />
  <p>{{address}}</p>
  {{/each}}
  </div>
</section>