
<section in = "formSection">Want to see other explorers adventures? </section>
<select id = "selectForm" style="margin-bottom: 1em; display: block;" name="themeList">
  <option value=""> &nbsp; - - - - - Select A Theme - - - - - &nbsp; </option>
  <option value="chillTheme">Taking It Easy</option>
  <option value="kidsTheme">Fun With the Kids!</option>
  <option value="foodieTheme">Foodie / Dinning In Portland</option>
  <option value="hostingTheme">Hosting Guests</option>
  <option value="activeTheme">Being Active Guests</option>
  <option value="tgifTheme">TGIF!</option>
  <option value="nightOutTheme">Night Out On the Town</option>
  <option value="breweryTheme">Breweries, Wineries, and More!</option>
</select>
