<div class="intro-block">
  <h1>Pick a theme</h1>
</div>
<p>
  {{treeData.questions}}. (Only chill works for now.)
</p>
{{#each treeData.theme}}
<div class="btn btn-primary" id="{{title}}" role="button">{{title}}</div>
{{/each}}