<div class="intro-block">
  <h1>Pick a theme</h1>
</div>
<p>
  More description here. (Only breweries work for now.)
</p>
{{#each theme}}
<div class="btn btn-primary" id="{{title}}" role="button">{{title}}</div>
{{/each}}