<header class="app-title">
  <div class="app-heading container">
    <h2 class="app-intro">Welcome to</h2>
    <h1 class="app-name">Choose Your Own Portland Adventure</h1>
     <p class="app-tagline">Click your way through the Rose City and get your own story that you can take and go do</p>
  </div>
  <span class="attribution"><a href="https://www.flickr.com/photos/ronguillen/">Photo by Ron Guillen, CC License</a></span>
</header>
<section class="question-body">
  <div class="container container-960">
    <div class="intro-block">
      <h1>How's <span class="title-secondary-word">the</span> Weather Today?</h1>

    <!--   <p class="question">Looks like it's sunny and 75 degrees in Portland today - How about an outdoor adventure?
      </p> -->

      <div id="weather-display">
        replace me
      </div>
    
    </div>
    <div class="button-container">
      <div class="btn btn-primary" id="choice-outside" role="button">Yes, I want to go outdoors</div>
      <div class="btn btn-primary" id="choice-inside" role="button">No, I want to stay inside</div>
      </div>
    </div>
  </div>
</section>