<header class="app-title">
  <div class="app-heading container">
    <h2 class="app-intro">Welcome to</h2>
    <h1 class="app-name">Choose Your Own Portland Adventure</h1>
     <p class="app-tagline">Click your way through the Rose City and get your own story that you can take and go do</p>
  </div>
  <span class="attribution"><a href="https://www.flickr.com/photos/ronguillen/">Photo by Ron Guillen, CC License</a></span>
</header>
<section class="question-body">
  <div class="container container-960">
    <div class="intro-block">
      <h1>How's <span class="title-secondary-word">the</span> Weather Today?</h1>
        <canvas id="{{weatherData.currently.icon}}" width="64" height="64">
        </canvas>
        <p class="question">Looks like it's {{weatherData.currently.summary}} and {{weatherData.currently.temperature}} today!</p>
    </div>
    <div class="button-container">
      <div class="btn btn-primary" id="choice-outside" role="button">I want to go outdoors</div>
      <div class="btn btn-primary" id="choice-inside" role="button">I want to stay inside</div>
      </div>
    </div>
  </div>
</section>
<script>
      var icons = new Skycons({color: "#3d4d6f"}),
          list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;

      for(i = list.length; i--; )
        icons.set(list[i], list[i]);

      icons.play();
</script>
