<div class="intro-block">
  <h1>Welcome to Choose Your Own Adventure PDX</h1>
<p>
  (Dynamic weather data here) Would you like to stay outside or inside?
</p>
<div class="btn btn-primary" id="choice-outside" role="button">Outside</div>
<div class="btn btn-primary" id="choice-inside" role="button">Inside</div>
</div>