<header class="app-title" id="home-page">
  <div class="app-heading container">
    <h2 class="app-intro">Welcome to</h2>
    <h1 class="app-name">Choose Your Own Portland Adventure</h1>
     <p class="app-tagline">Click your way through the Rose City and get your own story that you can take and go do</p>
  </div>
  <span class="attribution"><a href="https://www.flickr.com/photos/ronguillen/">Photo by Ron Guillen, CC License</a></span>
</header>
<section class="question-body">
  <div class="container container-960">
    <div class="intro-block">
      <h1>How's <span class="title-secondary-word">the</span> Weather Today?</h1>
      <div id="weather-display">
        <div id="spinner-container">
        </div>
      </div>
    </div>
    <div class="button-container">
      <div class="btn btn-primary" id="choice-outside" role="button">I want to go outdoors</div>
      <div class="btn btn-primary" id="choice-inside" role="button">I want to stay inside</div>
      </div>
    </div>
  </div>
</section>
<script>
  var opts = {
    lines: 13, // The number of lines to draw
    length: 17, // The length of each line
    width: 6, // The line thickness
    radius: 18, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 0.7, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: '50%', // Top position relative to parent
    left: '50%' // Left position relative to parent
  };
  var target = document.getElementById('spinner-container');
  var spinner = new Spinner().spin();
  target.appendChild(spinner.el);
</script>
