<p>
  (Dynamic weather data here) Would you like to stay outside or inside? (Hint: only outside works for now.)
</p>
<div class="btn btn-primary" id="step1-choice-a" role="button">Outside</div>
<div class="btn btn-primary" id="step1-choice-b" role="button">Inside</div>